<!DOCTYPE html>
<html lang="en">
<head>
  <title>Screamout</title>
<<<<<<< HEAD
  
  <%= stylesheet_link_tag media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "scream/application" %>

  <%= javascript_include_tag "scream/application" %>

  <%= javascript_include_tag 'scream/application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
=======

	<%= stylesheet_link_tag "scream/application" %>
    
	
    <%= stylesheet_link_tag media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'scream/application', 'data-turbolinks-track' => true %>
 
    <%= csrf_meta_tags %>
>>>>>>> dc4e18c734e4903bf92d1589aa93c9227f6ae822
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >

<%= yield %>

</body>
</html>
